<h3>Log In</h3>

<% form_tag session_path do -%>
<p class="form-field">
	<label for="login">Login</label>
	<%= text_field_tag 'login', @login %>
</p>

<p class="form-field">
	<label for="password">Password</label>
	<%= password_field_tag 'password', nil %>
</p>

<!-- Uncomment this if you want this functionality
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

<p class="form-action"><button type="submit">Sign In</button></p>
<% end -%>
