/* @override http://sylar.local.practical.cc/stylesheets/default.css */

@import url(lib/baseline.css);
@import url(lib/forms.css);

#container {
	margin: 40px;
	background: #fff;
}

/* @group Date Nav Bar */

.st-date-nav {
	background: #fff;
	text-align: center;
	position: relative;
	border-bottom: 2px solid #000;
}

.st-date-nav h2 {
	padding: 10px 0 14px;
	margin: 0;
	font-weight: normal;
	font-size: 24px;
}

.st-date-nav ul,
.st-date-nav li {
	display: inline;
}

.st-date-nav ul em {
	display: none;
}

.st-date-nav ul a {
	position: absolute;
	top: 2px;
	background: #fff;
	padding: 10px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

.st-date-nav ul a.previous {
	left: 5px;
	background: url(../images/icons/mini/arrow_left.gif) no-repeat left center;
	padding-left: 14px;
}

.st-date-nav ul a.next {
	right: 5px;
	background: url(../images/icons/mini/arrow_right.gif) no-repeat right center;
	padding-right: 14px;
}

/* @end */


.entry-form label {
	text-transform: uppercase;
	color: #888;
	padding-bottom: 5px;
	display: block;
}

.je-calendar {
	float: left;
	width: 220px;
	padding-bottom: 20px;
	padding-top: 10px;
}

.je-calendar label {
}

.je-right {
	float: right;
	width: 520px;
}

.je-right .form-field {
	padding-left: 0;
}

.je-right .form-field label {
	width: 130px;
	padding-top: 3px;
	padding-bottom: 6px;
}

.je-right .form-field input,
.je-right .form-field select {
	font-size: 18px;
	width: 320px;
}

.je-notes label {
	padding-top: 6px;
}

.je-notes textarea {
	width: 500px;
	height: 83px;
}


.st-log-header {
	padding: 10px 0 0px;
}

.st-log-header h2 {
	float: left;
	margin: 0;
}

.st-log-header .view_switcher {
	float: right;
	margin: 0;
}

.st-log-header .view_switcher .sep {
	color: #ccc;
	margin: 0 4px;
}

.st-log-header hr {
	clear: both;
	border: 0;
	height: 20px;
}

.section-divider {
	height: 20px;
	border: 0;
}
.st-log-section .hd {
	padding: 8px 11px 8px;
	border-bottom: 1px solid #000;
	background: #000;
	color: #fff;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
}

.st-log-section .hd h3 {
	font-size: 18px;
	font-weight: normal;
}

.st-log-section .bd,
.st-log-section .ft {
	border: 1px solid #000;
	border-width: 0 1px;
}

.st-log-section .bd {
	padding: 10px;
}

.st-log-section .ft {
	background: #def;
	padding: 4px 10px;
	border-bottom: 1px solid #000;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
}

.st-log-section .grouping h4 {
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 4px;
	color: #767676;
}

.grouping + .grouping {
	margin-top: 10px;
}

table.st-log {
	width: 100%;
	border-spacing: 0;
}

table.st-log .even td {
	background: #ffd;
}

table.st-log .num {
	width: 90px;
	text-align: right;
}

table.st-log .actions {
	width: 54px;
}

table.st-log .actions div {
	float: right;
}

table.st-log .journal_entry td {
	border-bottom: 1px solid #d4d4d4;
	padding: 2px 0;
}

table.st-log .summary td,
table.st-log .summary th {
	padding-top: 4px;
	font-size: 14px;
}

table.st-log .summary th {
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
}

.grouping table.st-log {
	border-top: 1px solid #d4d4d4;
}

table.st-log .header th {
	border-bottom: 1px solid #d4d4d4;
	text-transform: uppercase;
}

.a-edit,
.a-delete {
	background: url(../images/icons/cham/flag.gif) no-repeat center center;
	width: 22px;
	height: 20px;
	text-indent: -9999px;
	outline: none;
	float: left;
	text-align: left;
}

.a-edit {
	background-image: url(../images/icons/cham/edit.gif);
}

.a-delete {
	background-image: url(../images/icons/cham/trash.gif);
}
