/* @override http://sylar.local.practical.cc/stylesheets/default2.css */

@import url(lightbox.css);
@import url(journal_entries.css);

#hd {
	background: #f7dc33;
}

#dialog {
	min-width: 400px;
	min-height: 300px;
	background: #fff;
}

#dialog #close_dialog {
	position: absolute;
	right: 10px;
	top: 6px;
	color: #fff;
	text-decoration: none;
}


.graph-container .row {
	border-bottom: 1px solid #d4d4d4;
	position: relative;
	width: 100%;
	float: left;
	height: 2em;
}

.graph-container .bar {
	background: #e5e5e5;
	position: absolute;
	z-index: 0;
	height: 2em;
}

.graph-container .index {
	position: absolute;
	left: 0.4em;
	top: 0.4em;
	font-size: 108%;
	z-index: 2;
}

.graph-container .value {
	position: absolute;
	right: 0.4em;
	top: 0.4em;
	font-size: 108%;
	z-index: 2;
	color: #999;
}