/* @override http://sylar.local.practical.cc/stylesheets/default2.css */

@import url(lightbox.css);
@import url(journal_entries.css);

.sylr-dialog {
	background: #fff;
	min-width: 400px;
	min-height: 240px;
}

.sylr-dialog .hd {
	text-align: left;
	padding: 6px 10px;
	background: #77a0c2;
	border-top: 1px solid #a1c2dd;
	border-bottom: 1px solid #316690;
	font-weight: bold;
	color: #fff;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.7);
}

.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

#hd {
	background: #f7dc33;
}

#hd h1 {
	padding: 8px 16px;
	font-size: 18px;
	text-align: center;
	background: #444;
	color: #fff;
}

#main_navs {
	padding: 8px 6px 0;
}

#main_navs li {
	display: inline;
}

#main_navs a {
	float: left;
	padding: 4px 10px 3px;
	background: #a9a817;
	color: #fff;
	margin-right: 2px;
	-webkit-border-top-left-radius: 6px;
	text-decoration: none;
}

.graph-container .row {
	border-bottom: 1px solid #d4d4d4;
	position: relative;
	width: 100%;
	float: left;
	height: 2em;
}

.graph-container .bar {
	background: #e5e5e5;
	position: absolute;
	z-index: 0;
	height: 2em;
}

.graph-container .index {
	position: absolute;
	left: 0.4em;
	top: 0.4em;
	font-size: 108%;
	z-index: 2;
}

.graph-container .value {
	position: absolute;
	right: 0.4em;
	top: 0.4em;
	font-size: 108%;
	z-index: 2;
	color: #999;
}