/* @override http://sylar.local.practical.cc/stylesheets/default.css */

@import url(lib/baseline.css);
@import url(lib/forms.css);

body {
}

#container {
	width: 740px;
	margin: 40px auto;
	background: #fff;
}

.entry-form label {
	text-transform: uppercase;
	color: #888;
	padding-bottom: 5px;
	display: block;
}

.je-calendar {
	float: left;
	width: 220px;
	padding-bottom: 20px;
	padding-top: 10px;
}

.je-calendar label {
}

.je-right {
	float: right;
	width: 520px;
}

.je-right .form-field {
	padding-left: 0;
}

.je-right .form-field label {
	width: 130px;
	padding-top: 3px;
	padding-bottom: 6px;
}

.je-right .form-field input,
.je-right .form-field select {
	font-size: 18px;
	width: 320px;
}

.je-notes label {
	padding-top: 6px;
}

.je-notes textarea {
	width: 500px;
	height: 83px;
}