/* @override http://sylar.local.practical.cc/stylesheets/journal_entries.css */

.navigator {
	position: relative;
	text-align: center;
	border-bottom: 2px solid #000;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	background: #fff;
}

.navigator a.date {
	position: absolute;
	top: 0.8em;
	text-decoration: none;
	color: #666;
	font-size: 108%;
	background: #fff;
	padding: 0.6em;
}

.navigator a.date:hover {
	background: #ff0;
}

.navigator .previous {
	left: 0;
}

.navigator .next {
	right: 0;
}

.navigator h1 {
	margin: 0;
	font-size: 182%;
	font-weight: normal;
}

#entries_by_day {
	padding: 1em 0.6em;
}

#entries_by_day table {
	width: 100%;
}

#entries_by_day table td,
#entries_by_day table th {
	border-bottom: 1px solid #c7e0f9;
	padding: 1px 0;
	color: #4a4a4a;
}

#entries_by_day .header_row th {
	padding-top: 18px;
	color: #aaa;
	text-transform: uppercase;
	font-size: 11px;
	vertical-align: bottom;
	padding-bottom: 3px;
}

#entries_by_day .header_row th strong {
	text-transform: none;
	font-size: 14px;
	color: #000;
	font-weight: normal;
}

#entries_by_day .date_header th {
	font-size: 16px;
	font-weight: normal;
	padding-top: 8px;
	padding-bottom: 4px;
	border-bottom: 2px solid #888;
}

#entries_by_day .summary td {
	border: 0;
	padding-bottom: 10px;
	padding-top: 4px;
}

#entries_by_day .summary strong {
	color: #a3b7cb;
	text-transform: uppercase;
	font-size: 11px;
	margin-right: 4px;
}

#entries_by_day .project {
	font-weight: bold;
}

#entries_by_day .noentries td {
	border: 0;
	padding: 10px 0 30px;
	font-size: 108%;
	color: #e66;
}

#entries_by_day table .hours {
	text-align: right;
	padding-right: 10px;
}

#entries_by_day table .actions {
	text-align: right;
}

.info_for_month {
	padding-top: 1.6em;
}

.info_for_month .summary {
	background: #f7dc33;
	text-align: center;
}

.info_for_month .summary strong {
	display: block;
	padding: 0.4em;
	background: #000;
	color: #fff;
	font-size: 108%;
}

.info_for_month .summary .total {
	display: block;
	padding: 0.2em;
	font-size: 300%;
}