<div class="st-date-nav">
	<h2><%= start_date.strftime("%B %Y") %></h2>
	<ul>
		<li><em>Previous month:</em> <%= date_navigation_link :previous %></li>
		<li><em>Next month:</em> <%= date_navigation_link :next %></li>
	</ul>
</div>
<div class="st-bd">
	<%= yield :layout %>
</div>
