<div id="facebox"> 
<div class="popup"> 
<table> 
<tbody> 
<tr> 
<td class="tl"/><td class="b"/><td class="tr"/> 
</tr> 
<tr> 
<td class="b"/> 
<td class="body"> 
<div id="fb_liner">
	<%= yield :layout %>
</div>
</td> 
<td class="b"/> 
</tr> 
<tr> 
<td class="bl"/><td class="b"/><td class="br"/> 
</tr> 
</tbody> 
</table> 
</div> 
</div>