

<% form_for @journal_entry, :html => {:class => "entry-form"} do |f| %>

<%= render :partial => "builder", :object => @journal_entry, :as => entry %>

<p class="form-action">
	<button type="submit">Update entry</button>
</p>
<% end %>