<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Sylar &#x273F; Login</title>
	<%= stylesheet_link_tag "sessions" %>
</head>
<body id="login">
<div id="container">
	<div class="hd">
		<h1><%= link_to "Sylar Time Tracker", root_path %></h1>
	</div>
	<div class="bd">
		<%= yield :layout %>
	</div>
</div>
</body>
</html>
